/* Gaya untuk body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    padding-top: 120px; /* Sesuaikan jarak konten dari header */
}

/* Gaya untuk header */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0; /* Padding pada header untuk menjaga proporsi */
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Tetap di depan elemen lain */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Bayangan untuk membedakan header dari konten */
}

/* Gaya untuk navigasi */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Gaya untuk setiap section */
section {
    padding: 20px;
    background-color: white;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Gaya untuk judul section */
h2 {
    color: #333;
}

/* Gaya untuk footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}